#deckOfCards {
  margin: 5px;
  padding: 5px;
}

#hand {
  margin: 5px;
  padding: 5px;
}

.card {
  display: inline-block;
  height: 75px;
  width: 60px;
  margin: 3px;
  z-index:0;
}

.card:hover {
  transform: scale(1.8);
  z-index:1;
}

.btn {
  margin: 2px;
}
